{% extends 'main/basic.html' %}
{% block title %}MyShop-Buy and Sell{% endblock %}

{% block css %}
{% load static %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Dosis:wght@300;400;500&family=Josefin+Sans:wght@200&family=Lusitana&family=Mochiy+Pop+P+One&family=Roboto+Mono:wght@400;500&display=swap');

    * {
        font-family: 'oxygen',sans-serif;
       margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }

    :root {
        --orange: #ffa500;
    }

    *::selection {
        background: var(--orange);
        color: #fff;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 6rem;
        scroll-behavior: smooth;
    }

    body {
        position: relative;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
        background-image: url("{% static 'main/1.jpg' %}");
        z-index: 1000;
    }

    nav h2 {
        position: relative;
        color: white;
        font-size: 3rem;

        left: 8.5rem;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        height: 8rem;
        /* background-color: rgb(37, 35, 35); */
        background-color: black;
        align-items: center;
    }
    nav li a:hover {
        color: rgb(211, 211, 35);
        /* font-size: 3rem; */
        animation: myanimate 5s linear infinite;

    }
    @keyframes myanimate{
  0%,100%{
    color: #fff;
    box-shadow: 0 0 7px #03bcf4,
    0 0 20px  #03bcf4,
    0 0 40px  #03bcf4,
    0 0 80px  #03bcf4,
    0 0 160px  #03bcf4;
  }
}
    /* nav li a:hover { */
        /* color: rgb(211, 211, 35); */
        /* font-size: 3rem; */
       
    /* } */
    

    /* login form  */
    .login-form-container {
        position: fixed;
        top: -120%;
        left: 0;
        display: flex;
        z-index: 10000;
        min-height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
    }

    .login-form-container.active {
        top: 0;
    }

    .login-form-container form {
        margin: 2rem;
        padding: 1.5rem 2rem;
        border-radius: .5rem;
        background: white;
        width: 50rem;

    }

    .login-form-container form h3 {
        font-size: 3rem;
        color: #444;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem 0;
    }

    .login-form-container form .box {
        width: 100%;
        padding: 1rem;
        font-size: 1.7rem;
        color: #333;
        margin: .6rem 0;
        text-transform: none;
        border: .1rem solid rgba(0, 0, 0, 0.3);
    }

    .login-form-container form .box:focus {
        border-color: orange;
    }

    .login-form-container form #remember {
        margin: 2rem 0;
    }

    .login-form-container form label {
        font-size: 1.7rem;
    }

    .login-form-container form .btn {
        width: 100%;
        display: block;
    }

    .btn {
        display: inline-block;
        margin-top: 1rem;
        color: white;
        background: orange;
        padding: .8rem 3rem;
        border: .2rem solid orange;
        cursor: pointer;
    }

    .btn:hover {
        background: none;
        color: #333;
    }

    .login-form-container form p {
        font-size: 1.5rem;
        padding: .5rem 0;
        color: #666;
    }

    .login-form-container form p a {
        color: orange;

    }

    .login-form-container form p span {
        color: orange;
        background-color: #fff;
    }

    .login-form-container form p span:hover {
        text-decoration: underline;
        color: #333;
        cursor: pointer;
    }

    .login-form-container form p a:hover {
        text-decoration: underline;
        color: #333;
    }

    .login-form-container .form-close {
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

    /* register form  */










    .register-form-container {
        position: fixed;
        left: -120%;
        display: flex;
        z-index: 10000;
        min-height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
    }

    .register-form-container.active {
        left: 0;
    }

    .register-form-container form {
        margin: 2rem;
        padding: 1.5rem 2rem;
        border-radius: .5rem;
        background: white;
        width: 50rem;

    }

    .register-form-container form h3 {
        font-size: 3rem;
        color: #444;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem 0;
    }

    .register-form-container form .box {
        width: 100%;
        padding: 1rem;
        font-size: 1.7rem;
        color: #333;
        margin: .6rem 0;
        text-transform: none;
        border: .1rem solid rgba(0, 0, 0, 0.3);
    }

    .register-form-container form .box:focus {
        border-color: orange;
    }

    .register-form-container form #remember {
        margin: 2rem 0;
    }

    .register-form-container form label {
        font-size: 1.7rem;
    }

    .register-form-container form .btn {
        width: 100%;
        display: block;
    }

    .register-form-container .form-close {
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

    .home-content {
        top: 14rem;
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;

    }

    .home-content h1 {
        color: rgb(158, 21, 21);
        font-size: 6rem;


    }

    .home-content .sub-head {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 3rem;
    }

    .home-content div {
        font-size: 4rem;

    }

    .t1 {
        position: relative;
        top: 2rem;
        right: 11rem;
        color: rgb(158, 21, 21);
        font-weight: bold;
        transform: rotate(13deg);
    }

    .t2 {
        position: relative;
        top: 8rem;
        left: .5rem;
        color: rgb(226, 223, 33);
        font-weight: bold;
        transform: rotate(-36deg);
    }

    .t3 {
        position: relative;
        left: 6rem;
        bottom: 1rem;
        color: rgb(21, 76, 158);
        font-weight: bold;
        transform: rotate(-55deg);
    }

   


        
 /* bubbles     */


 .bubble{
     position: relative;
     display: flex;
 }
 .bubble span{
     position: relative;
     width: 10px; height: 10px;
     background: #4fc3dc;
     margin: 0 4px;
     border-radius: 50%;
     box-shadow: 0 0 0 10px #4fc3dc44,
     0 0 50px #4fc3dc,
     0 0 100px #4fc3dc;
     animation: animate 15s linear infinite;
     animation-duration: calc(125s / var(--i));
 }
 .bubble span:nth-child(even){
  background: #f5f0f2;
  box-shadow: 0 0 0 10px #f5f0f244,
     0 0 50px #f5f0f2,
     0 0 100px#f5f0f2;
 }
 @keyframes animate {
     0%{
         transform: translateY(85vh) scale(.2);
     }
     100%{
         transform: translateY(-10vh) scale(.5);
     }
 }
</style>
{% endblock %}
{% block body %}


<div class="login-form-container">
    <i class="fas fa-times form-close"></i>
    <form action="/main/" method="post">
        {% csrf_token %}
        <h3>Login</h3>
        <input type="text" class="box" name="lusername" placeholder="Enter your username">
        <!-- <input type="email" class="box" name="lemail" placeholder="Enter your email"> -->
        <input type="password" class="box" name="lpassword" placeholder="Enter your password">
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember">remember me</label>
        <p>Forget password? <a href="#">click here</a></p>
        <p>Don't have an account? <span id="register-btn">register now</span> </p>
    </form>
</div>
<div class="register-form-container">
    <i class="fas fa-times form-close"></i>
    <form action="/main/" method="post">
        {% csrf_token %}
        <h3>Register</h3>
        <input type="text" class="box" name="username" placeholder="Enter your Username">
        <input type="email" class="box" name="email" placeholder="Enter your email">

        <input type="password" class="box" name="password" placeholder="Enter your password">
        <input type="submit" value="register now" class="btn">
        <!-- <input type="checkbox" id="remember"> -->
        <label for="remember">remember me</label>
        <!-- <p>Forget password? <a href="#">click here</a></p> -->
        <!-- <p>Don't have an account? <a href="#">register now</a></p> -->
    </form>
</div>
<div class="home-content">

    <div class="sub-head">
        <div class="t1">where</div>
        <div class="t2">you</div>
        <div class="t3">can</div>
    </div>
</div>

<!-- <div class="bubble">
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
    
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>

    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>

    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:13;"></span>
    <span style="--i:28;"></span>
    
</div> -->
{% endblock %}
{% block js %}
<!-- login-form and register-form-------- -->
<script>
    let loginform = document.querySelector('.login-form-container');
    let regform = document.querySelector('.register-form-container');

    let formclose = document.querySelectorAll('.form-close');
    let regbtn = document.querySelector('#register-btn');
    let formbtn = document.querySelector('#login-btn');
    formbtn.addEventListener('click', () => {
        loginform.classList.add('active');

    });
    closefn = function () {
        loginform.classList.remove('active');
        regform.classList.remove('active');
    }
    Array.from(formclose).forEach(function (formclose) {
        formclose.addEventListener('click', closefn);
    });
    // formclose.addEventListener('click', () => {
    //     loginform.classList.remove('active');
    //     regform.classList.remove('active');
    // });
    regbtn.addEventListener('click', () => {

        loginform.classList.remove('active');
        regform.classList.add('active');

    });
    // let downarr = document.querySelector('#down-arrow');
    // let menulist = document.querySelector('.user-menu-list');

    // downarr.addEventListener('click', () => {
    //     console.log("hiiiii")
    // menulist.classList.toggle('active');
    // downarr.classList.toggle('fa-angle-up');
    //   });
    
    // function abcdef() {
    //     console.log("hiiiiix");
    //     document.querySelector('.user-menu-list').classList.add('active');
    // }
</script>
{% endblock %}