{% extends 'main/basic.html' %}
{% block title %} {% endblock %}
{% block css %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Dosis:wght@300;400;500&family=Josefin+Sans:wght@200&family=Lusitana&family=Mochiy+Pop+P+One&family=Roboto+Mono:wght@400;500&display=swap');

    * {
        font-family: 'oxygen', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;

    }

    :root {
        --orange: #ffa500;
    }

    *::selection {
        background: var(--orange);
        color: #fff;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
        /* scroll-padding-top: 6rem;
        scroll-behavior: smooth; */
    }

    body {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1000;
        background-image: url("{% static 'main/5.jpg' %}");
        justify-content: center !important;
        align-items: center !important;
    }

    nav h2 {
        position: relative;
        color: white;
        font-size: 3rem;

        left: 3rem;
    }

    nav a {
        text-decoration: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        height: 9rem;
        /* background-color: rgb(110, 35, 47); */
        /* background-color: rgb(163, 16, 16); */
        align-items: center;
    }

    nav ul {
        position: relative;
        width: 100%;
        left: 40% !important;
    }

    nav li {
        position: relative;
        display: inline-block;
        color: white;
        text-decoration: none;
        list-style: none;
        /* height: 3rem; */
        font-size: 2rem;
        margin: 1.3rem 1rem !important;

    }

    nav #down-arrow {
        display: none;
    }

    nav li a:hover {
        color: rgb(211, 211, 35);
        /* font-size: 3rem; */
        animation: myanimate 5s linear infinite;

    }

    @keyframes myanimate {

        0%,
        100% {
            color: #fff;
            box-shadow: 0 0 7px #da65d4,
                0 0 20px #da65d4,
                0 0 40px #da65d4,
                0 0 80px #da65d4,
                0 0 160px #da65d4;
        }
    }

    nav li:hover {
        color: rgb(211, 211, 35);
        /* font-size: 3rem; */
    }

    #login-btn:hover {
        cursor: pointer;
    }

    /* user-menu-list */
    .user-list {
        background: #926d35 !important;
        border-radius: 5%;
    }

    .user-menu-list.active {

        top: 5rem !important;
    }

    .user-menu-list {
        top: -37rem !important;
        display: none !important;
    }

    /* sell-home-page */
    .sell-home {
        position: fixed;

        align-items: center;
        justify-content: center;
        display: none;
        height: 90vh;

        /* right:165rem; */
        /* transition: all 3s linear !important; */

    }

    .sell-home.active {
        left: -85rem;
    }

    .sell-home .content {
        padding: 3rem 2rem;
        width: 50%;
        height: 50vh;
        position: relative;
        left: -15rem;

    }

    .sell-home .content h1 {
        color: orange;
        font-size: 4rem;
        padding: 2rem 0;
    }

    .sell-home .content p {
        color: white;
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .sell-home .content form {
        display: flex;
        flex-direction: column;
    }





    .sell-home .content form button {
        width: 22rem;
        padding: 2rem 0;
        color: white;
        background-color: rgb(60, 170, 60);
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    .sell-home .content form button:hover {
        background-color: green;
    }

    /* sell-main-category */

    .sell-main {
        position: fixed;
        /* top: -80rem; */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        bottom: -70rem;
        transition: all 0s linear;
    }

    .sell-main.active {
        bottom: 0;
    }

    .sell-main .content {
        position: relative;
        padding: 3rem 2rem;
        width: 78%;
        justify-content: center !important;
        align-items: center;
        height: 40vh;

        overflow-x: scroll;
        overflow-y: hidden;
        /* background-image: url('{% static "main/2.jpg" %}'); */

        /* border-radius: 8%; */
        z-index: 0;
    }

    /* .sell-main .content .cat-bg{
        position: fixed;
        width: 190rem;
        height: 50vh;
        z-index:0 ;
    } */
    .sell-main .content::-webkit-scrollbar {
        width: 8px !important;
    }

    .sell-main .content::-webkit-scrollbar-track {
        /* background-color:rgb(42, 110, 173) !important; */
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.9);
    }

    .sell-main .content::-webkit-scrollbar-thumb {
        /* background-color:rgb(248, 168, 244) !important; */
        box-shadow: inset 0 3px 2px rgb(248, 168, 244);

    }

    .sell-main h1 {
        font-size: 3rem;
        color: white;
        padding: 2rem 1rem;
        box-shadow: 0 0 7px #da65d4,
            0 0 20px #da65d4,
            0 0 40px #da65d4,
            0 0 80px #da65d4,
            0 0 160px #da65d4;
    }

    .sell-main .content .card-group {
        width: 5000px;
        position: relative;
        display: flex;
        /* max-height: 50vh !important; */
        padding: 2rem .5rem;
        overflow: hidden;
    }

    .sell-main .card-bg {
        margin: 1rem;
        border-radius: 10% !important;
    }

    .sell-main .card {
        border-radius: 10%;
    }

    .sell-main h5 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .sell-main .card-bg img {
        width: 12rem !important;
        height: 10rem !important;
        border-radius: 10%;

    }

    /* product-entry */
    .product-entry {
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;

    }

    /* .product-entry .content{
        display: flex;
        width: 80%;
        
    } */
    .product-entry form {
        position: relative;
        left: 3rem;
        display: flex;
        flex-direction: column;
        /* justify-content: center !important; */
        align-items: center;
    }

    .product-entry form input::placeholder {

        color: rgb(105, 175, 233);
    }

    .product-entry form div {
        display: flex;
    }

    .product-entry form textarea::placeholder {
        color: rgb(105, 175, 233);

    }

    .product-entry form textarea {
        background: none;
        padding: .7rem 2rem;
        font-size: 1.5rem;
        margin: 1rem .5rem;
        color: white;
        border: 2px solid rgb(104, 104, 207);

    }

    .product-entry form input {
        /* text-transform: capitalize; */

        width: 25rem;
        margin: 1rem .5rem;
        padding: .7rem 2rem;
        color: white;
        font-size: 1.5rem;
        background: none;
        border: 2px solid rgb(104, 104, 207);
    }

    .prod_submitbtn {
        padding: .7rem 1rem !important;
        width: 15rem !important;
    }

    
    .user_prod_disp{
        display: none;
        display: flex;
        position: relative;
        width: 65%;
        margin: auto;
        /* justify-content: center; */
        align-items: center;
        /* background: rgb(92, 79, 79); */
        padding: 2%;
        top: 10rem;
        height: 60vh;
    }
    .last_prod_disp{
        /* display: none; */
        position: relative;
        float: left;
        width: 40%;
        /* margin-right: 15%; */
        /* background: rgb(226, 141, 141); */
        height: 50vh;
        /* padding: 5%; */
        
        
    }
    .last_prod_disp .lpd{
        border: 2px solid rgb(158, 61, 61);
        height: 50vh;
        border-radius: 18px;
        width: 70%;
        background: white;
        /* background-image: url("{% static 'main/cardbg2.jpg' %}"); */
        /* background-size: cover; */
        overflow: hidden;
        /* padding: 5rem; */
    }
    .last_prod_disp .lpd .lpd_img{
        height: 20vh;
        /* background: #ffa500;  */
        overflow: hidden;
       
    }
    .last_prod_disp .lpd .lpd_img img{
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    .last_prod_disp .lpd .lpd_info{
        padding: 2%;
        color: black;
    }

    .view_prev_disp{
        /* display: none; */
        position: relative;
        width:40%;
        float: right;
        /* background: rgb(172, 39, 39); */
        
    }
    .view_prev_disp h2{
        color: rgb(226, 163, 46);
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 3%;
    }
    .view_prev_disp button{
        font-size: 1.5rem;
        padding: .5rem 1rem;
        background: orange;
        border-radius: 10px;
        color: rgb(128, 0, 17);

    }
    .user-prod-history{
        display: none;
        /* border: 2px solid black; */
        width: 50%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        box-shadow: -10px 0px 10px 1px #401246;   
        scrollbar-color: red yellow;
     }
    .user-prod-history::-webkit-scrollbar {
        width: 18px !important;
    }

    .user-prod-history::-webkit-scrollbar-track {
        box-shadow: inset 0 0 9px rgb(37, 37, 37); 
        border-radius: 10px;
    }
 
    .user-prod-history::-webkit-scrollbar-thumb {
        /* box-shadow: inset 0 3px 2px rgb(173, 21, 128); */
        background: rgb(255, 141, 211); 
        border-radius: 10px;
    }
    .addbtn1{
        position: relative;
        font-weight: bold;
        display: none;
        padding: .5rem 1rem;
        color: rgb(128, 0, 0);
        background: orange;
        top: 40%;
        left: 5%;
    }
    .prev-prod{
        /* width: 98%; */
        display: flex;
        height: 8vh;
        border:2px solid black;
        margin:3%;
        padding:1rem .5rem;
        justify-content: space-between;
    }
    .prev-prod:hover{
        border:2px solid white;
    }
    .prev-prod span{
       font-size: 1.7rem;
       margin-right: 5%;
       color: white;
    }
    .s3{
        position: relative;
        float: right !important;
        color: white;
        font-size: 1.7rem;
        right: 5%;
    }
    
    .s2{
        position: relative;
        float: left !important;
        color: white;
        font-size: 1.7rem;
        left: 5%;
    }
    
</style>
{% endblock %}

{% block body %}
<div class="sell-home">
    <div class="content">
        <h1>Sell your product online among customers all over the country</h1>
        <p>Feel the buisness at Myshop</p>
        <form action="">

            <button onclick="showcat()" type="button">Start selling</button>

        </form>

    </div>
</div>
<div class="sell-main">
    <h1>choose your product's category </h1>
    <div class="content">

        <div class="card-group">
            <!-- <img src='{% static "main/2.jpg" %}' class="cat-bg" alt=""> -->
            {% for i in cat %}
            <div id="cat-card" class="card-bg">
                <div class="card">
                    <img src="/media/{{i.cat_img}}" alt="img">

                    <div class="card-body">
                        <h5 class="card-title">{{i.cat_name}}</h5>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

<div class="product-entry">
    <!-- <div class="content"> -->
    <form action="" method="post" id="fpe" onsubmit="subfn()" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="NAME OF PRODUCT" name="prod_name">
            <input type="text" placeholder="COMPANY NAME" name="com_name">
        </div>
        <div>
            <input type="number" placeholder="PRICE" name="prod_price">
            <input type="file" required name="images" multiple class="file-upload-input">

        </div>
        <textarea class="form-control" placeholder="PRODUCT'S DESCRIPTION" name='prod_desc' rows="3"></textarea>


        <input type="submit" class="prod_submitbtn"  value="upload" class="btn">

    </form>
    <!-- <i onclick="sellprevprod()" class="fas fa-arrow-left content-arr"></i> -->
</div>
<div class="user_prod_disp">
    <div class="last_prod_disp">
        <div class="lpd">
            <div class="lpd_img">
                <img src="/media/{{last_prod.prod_img}}" alt="">
            </div>
            <div class="lpd_info">
                <h2>{{last_prod.prod_name}}</h2>
                <h1>RS.{{last_prod.prod_price}}/-</h1>
                <h3>{{last_prod.prod_desc}}</h3>
            </div>
        </div>
    </div>
    <div class="view_prev_disp">
        <h2>Your product is set among peoples</h2>
        <button onclick="addmoreprod()">ADD MORE</button>
        <button onclick="viewhis()" >VIEW HISTORY</button>
    </div>
    <div class="user-prod-history">
        <div class="user-prev-prods">
            {% for i in view_prod %}
            <div class="prev-prod"  onclick="his_prod_view('{{i.prod_name}}','{{i.prod_price}}','{{i.prod_desc}}','{{i.prod_img}}')">
               <div class="s2" style="display: flex;"> <span>{{forloop.counter}}...</span><span>{{i.prod_name}}</span></div><div class="s3">{{i.prod_date}}</div>
                

            </div>
            {% endfor %}
        </div>

    </div>
    <button class="addbtn1" onclick="addmoreprod()">ADD MORE</button>


</div>

{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>

    function showcat() {
        $('.sell-home').addClass('active');
        $('.sell-main').addClass('active');
    }
    function fhide(){
            $('.product-entry').hide();
        }
    $(document).ready(function () {
        var nc = '{{nc}}';
        var n = '{{j.no}}';
        $('.card-group').width((nc * 153) + 'px');
        $('.card-bg').click(function () {
            $('.sell-home').hide();
            $('.sell-main').hide();
            $('.product-entry').css({ display: "flex" });
        });
    //     document.getElementById("fpe").onsubmit=function(){
    //     $('.product-entry').hide()
    // }
    
    var subch="{{subc}}" 
    console.log(subch) 
    if(subch==0){
        
        // fhide();
        $('.user_prod_disp').hide();
        subch==0;
    }
    if(subch>0){
        
        fhide();
        $('.user_prod_disp').show();
        subch==0;
    }
    });
    function addmoreprod(){
        $('.product-entry').show();
        $('.user_prod_disp').hide();

    };
    function viewhis(){
        $('.addbtn1').show()
        $('.user-prod-history').show();
        $('.view_prev_disp').hide();

    };
    function his_prod_view(name,price,desc,img){
        
        $('.lpd').html(
            '<div class="lpd_img">'+
                '<img src="/media/'+img+'" alt="">'+
            '</div>'+
            '<div class="lpd_info">'+
                '<h2>'+name+'</h2>'+
                '<h1>'+price+'/-</h1>'+
                '<h3>'+desc+'</h3>'+
           ' </div>'

        )

    };

    slide = document.querySelectorAll(".slide");
    var counter = 0
    slide.forEach(
        (slide, index) => {
            // console.log(slide.getAttribute('data-no'));
            var n = slide.getAttribute('data-no');
            slide.style.left = `${n * 337.25}px`;

        });
    const slideimg = () => {
        var lpc = "{{lpc}}";
        if (counter > lpc - 1) {
            counter--;
            return false;
        }
        slide.forEach(
            (slide) => {

                slide.style.transform = `translateX(-${counter * 337.25}px)`;
            });
    }
    const goprev = () => {
        counter--;
        slideimg();
    }
    const gonext = () => {
        counter++;
        slideimg();
    }

    var counter2 = 0;
    var nsp = 0;

    sell_prod_slide = document.querySelectorAll(".sell_prod_details");
    sell_prod_slide.forEach(
        (sell_prod_slide, index) => {

            sell_prod_slide.style.left = `${index * 337.25}px`
        }
    );

    const sellslide = () => {
        // console.log(sell_prod_slide.length)
        // console.log(counter2)
        if (counter2 > sell_prod_slide.length - 1) {
            counter2--;
            return false;
        }
        sell_prod_slide.forEach(
            (sell_prod_slide) => {
                sell_prod_slide.style.transform = `translateX(-${counter2 * 337.25}px)`;
            }
        )
        // sell_prod_slide.style.transform = `translateX(-${counter2 * 337.25}px)`;
    }
    const sellnextprod = () => {
        counter2++;
        // $('.slide').css({transform:translateY(0)});
        sellslide();
    }
    const sellprevprod = () => {
        counter2--;
        sellslide();
    }
    function subfn(){
        $('.product-entry').hide();
    }
    // function upload_Prod() {
    //     $('.product-entry').hide()
    // }
    // $('.selling-slider').width((nsp * 328) + 'px');
</script>
{% endblock %}